<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" type="853acdae7fea052e07b300ff-text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" type="853acdae7fea052e07b300ff-text/javascript"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" type="853acdae7fea052e07b300ff-text/javascript"></script> 
        <title>Search Restaurant | COMPS381F</title>
        <style>
            body{
                background-color: #000;
                font-family: 'Montserrat', sans-serif;
                color: #fff;
            }
            .container{
                margin-top: 50px;;
                max-width: 1024px;
            }
            input[type=text], select {
                width: 95%;
                padding-top: 2px;
                padding-left: 10px;
                padding-bottom: 2px;
                padding-right: 10px;
                height: 40px;
                margin: 10px;
                display: inline-block;
                border: 1px solid #111;
                border-radius: 0px;
                background: transparent;
                color: #000;
                font-size: 20px;
                font-family: Montserrat;
                border-radius: 3px;
            }
            table{
                background: #fff;
            }
            .table{
                border-color: #ddd;
            }
            table.table-bordered{
                border:1px solid #888;
                margin-top:20px;
            }
            table.table-bordered > thead > tr > th{
                border:1px solid #888;
            }
            table.table-bordered > tbody > tr > td{
                border:1px solid #888;
            }
            .tableHead{
                background-color: #a0a0a0;
            }
            @media (min-width: 1024px) {
                .navbar-nav.navbar-center {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%);
                }
            }
            @media (min-width: 1024px) {
                .navbar-nav.navbar-right {
                    position: absolute;
                    right: 0%;
                    transform: translate(0%);
                }
            }

        </style>
        <script>
            function activateSpinner(){
                document.getElementById('spinning').classList.remove('d-none');
            }
        </script>
    </head>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="853acdae7fea052e07b300ff-|49"></script>
    <body style="font-family: Montserrat;">
        <div class="container">
            <div style="text-align: center; font-size: 15px;">
                <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="align-content: center;text-align: center;z-index: 1;background-color:#fff;color:#000;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon" style="color: #fff;"></span>
                    </button>
                    <a class="navbar-brand d-block d-lg-none" style="color: #000;" href="/readDB">Restaurant</a>
                    <a class="navbar-brand d-none d-lg-block" style="color: #000;" href="/readDB">Restaurant</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color:#FFF;">
                        <ul class="navbar-nav mr-auto navbar-center">
                            <li class="nav-item">
                                <a class="nav-link" href="/readDB">All Restaurant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/search">Search Restaurant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/addRestaurant">Add Restaurant</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                        <span class="navbar-nav mr-auto navbar-right navbar-text" style="right: 0%;">
                            <span style="color: #000;">User: <%=userInfo %> </span>
                        </span>
                    </div>
                </nav>
            </div>
                <div class="row">
                    <div class="col">
                        <form method="POST" action="/search" enctype="multipart/form-data"> 
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="tableHead" colspan="2">
                                            Search Restaurant
                                            <div class="alert alert-<%=isShow %>" id="outputErrorMessage"><%=errorMsg %></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 20%;">Name: </td>
                                        <td>
                                            <input type="text" name="name"><br>
                                            <input type="checkbox" name="nameExact" id="nameExact" value="true" checked><label for="nameExact" style="font-size: 14px;">Exactly Match</label>
                                            <input type="checkbox" name="nameCase" id="nameCase" value="true" checked><label for="nameCase" style="font-size: 14px;">Case Sensitive </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Borough: </td>
                                        <td>
                                            <input type="text" name="borough" ><br>
                                            <input type="checkbox" name="boroughExact" id="boroughExact" value="true" checked><label for="boroughExact" style="font-size: 14px;">Exactly Match</label>
                                            <input type="checkbox" name="boroughCase" id="boroughCase" value="true" checked><label for="boroughCase" style="font-size: 14px;">Case Sensitive </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cuisine: </td>
                                        <td>
                                            <input type="text" name="cuisine" ><br>
                                            <input type="checkbox" name="cuisineExact" id="cuisineExact" value="true" checked><label for="cuisineExact" style="font-size: 14px;">Exactly Match</label>
                                            <input type="checkbox" name="cuisineCase" id="cuisineCase" value="true" checked><label for="cuisineCase" style="font-size: 14px;">Case Sensitive </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><button type="submit" class="btn btn-outline-success" onclick="activateSpinner()"><span class="spinner-border spinner-border-sm d-none" id="spinning"></span>Search</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                       <div class="row equal" style="align-content: center;">     
                                <% for(var i=0;i<dbDocs.length;i++){ %>
                                    <div class="col-sm-12 col-md-6 col-lg-4  d-flex" style="text-align: center; align-content: center;">
                                        <div class="card" style="width: 21rem; margin-bottom: 5px;color: #000; height: auto;">
                                            <div class="card-body d-flex flex-column">
                                            <table width="100%">
                                                <thead style="color: #000;">
                                                    <tr>
                                                        <td style="width: 20%;">Name: </td>
                                                        <td style="font-weight: bold;"><%= dbDocs[i].Name %></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" height="15px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="color: #000;">
                                                    <tr>
                                                        <td>Borough: </td>
                                                        <% if(dbDocs[i].Borough == null || dbDocs[i].Borough.length == 0){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td><%= dbDocs[i].Borough %></td>
                                                        <% }%>
                                                    </tr>
                                                    <tr>
                                                        <td>Cuisine: </td>
                                                        <% if(dbDocs[i].Cuisine == null || dbDocs[i].Cuisine.length == 0){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td><%= dbDocs[i].Cuisine %></td>
                                                        <% }%>
                                                    </tr>
                                                    <% if(dbDocs[i].Address == null || dbDocs[i].Address.length == 0){ %>
                                                        <tr>
                                                            <td>Street: </td>
                                                            <td>---Not Avaliable---</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Building: </td>
                                                            <td>---Not Avaliable---</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Zipcode: </td>
                                                            <td>---Not Avaliable---</td>
                                                        </tr>
                                                        <tr>
                                                            <td>GPS: </td>
                                                            <td>---Not Avaliable---</td>
                                                        </tr>
                                                    <% }else{%>
                                                    <tr>
                                                        <td>Street: </td>
                                                        <% if(dbDocs[i].Address.Street == null){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td><%= dbDocs[i].Address.Street %></td>
                                                        <% }%>
                                                    </tr>
                                                    <tr>
                                                        <td>Building: </td>
                                                        <% if(dbDocs[i].Address.Building == null){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td><%= dbDocs[i].Address.Building %></td>
                                                        <% }%>
                                                    </tr>
                                                    <tr>
                                                        <td>Zipcode: </td>
                                                        <% if(dbDocs[i].Address.Zipcode == null){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td><%= dbDocs[i].Address.Zipcode %></td>
                                                        <% }%>
                                                    </tr>
                                                    <tr>
                                                        <td>GPS: </td>
                                                        <% if(dbDocs[i].Address.Coords == null){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td><a href="/leaflet?lon=<%=dbDocs[i].Address.Coords[0] %>&lat=<%= dbDocs[i].Address.Coords[1] %>&name=<%= dbDocs[0].Name %>">[<%= dbDocs[i].Address.Coords[0] %>, <%= dbDocs[i].Address.Coords[1] %>]</a></td>
                                                        <% }%>
                                                    </tr>
                                                    <% }%>
                                                    <tr>
                                                        <td>Rating: </td>
                                                        <% if(dbDocs[i].Grades.length == 0){ %>
                                                            <td>---Not Avaliable---</td>
                                                        <% }else{%>
                                                            <td>
                                                            <%for(var j=0;j<dbDocs[i].Grades.length;j++) {%>
                                                                <span style="text-decoration: underline;"><%= dbDocs[i].Grades[j].Rating%></span>, by <%= dbDocs[i].Grades[j].Username;%><br>
                                                            <% }%>
                                                            </td>
                                                        <% }%>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <p></p>
                                                <%if(dbDocs[i].Photo == null){ %>
                                                    <p style="height: 70px;"></p>
                                                    <p>---No Image Avaliable---</p>
                                                    <p style="height: 70px;"></p>
                                                <%}else{ %>
                                                    <img class="card-img-top" src="data:<%=dbDocs[i].PhotoMimeType%>;base64, <%=dbDocs[i].Photo %>"><br>
                                                <%} %>
                                            
                                            
                                            
                                            </div>
                                        <div class="card-footer">
                                                <a href="/showDetails?_id=<%= dbDocs[i]._id%>">Details of this Restaurant</a>
                                        </div>
                                        </div>
                                        
                                    </div>
                                <% }%>
                                
                            </div>  
                    </div>
                </div>
        </div>

    </body>
</html>